fastapi[standard]
python-jose[cryptography]
sqlmodel
pydantic-settings
stripe>=12.0.0
scikit-learn>=1.7.2
pandas>=2.3.2
pymysql
uvicorn[standard]
alembic
python-dotenv
aiofiles
passlib[bcrypt]
argon2-cffi
